---
interface Props {
  title?: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

{title && (
  <section>
    <h1>{title}</h1>
    {subtitle && <p>{subtitle}</p>}
  </section>
)}
