---
import StandaloneLayout from '../layouts/StandaloneLayout.astro';
import '../styles/verification-bundle.css';
---

<StandaloneLayout
  title="ANTBAR-Authenticity Verification:Start your certification now!"
  description="ANTBAR Authenticity Verification, Start your certification now! Free use!"
  pageId="950"
>
  <main id="content" class="site-main post-950 page type-page status-publish hentry">
    <div class="page-content">
      <div data-elementor-type="wp-page" data-elementor-id="950" class="elementor elementor-950" data-elementor-settings='{"scroll_snap":"yes"}' data-elementor-post-type="page">
        <div class="elementor-element elementor-element-4507505 e-flex e-con-boxed e-con e-parent" data-id="4507505" data-element_type="container">
          <div class="e-con-inner">
            <div class="elementor-element elementor-element-74d6399 elementor-widget elementor-widget-html" data-id="74d6399" data-element_type="widget" data-widget_type="html.default">
              <iframe src="https://smoant.cn/s/309" frameborder="0" scrolling="no" title="Smoant Authentic Verification System" style="width:100%;height:500px;"> This option will not work correctly. Unfortunately, your browser does not support inline frames. </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</StandaloneLayout>
